
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --cor1: #F5E098;
  --cor2: #FCC679;
  --cor3: #E69C7A;
  --cor4: #FC7F79;
  --cor5: #F274D8;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--cor3);
}