* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #FCFC77;
  --cor2: #66D978;
  --cor3: #7DE0F0;
  --cor4: #817CDA;
  --cor5: #FC77FC;
}

body {
  font-family: sans-serif;
  background: var(--cor3);
}

button{
  cursor: pointer;
}